.imageCard {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.imageCardShow {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: top;
}
